body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#C9D779, #7E874A);
    color: #EDE7E0;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 3px #243511;
}

#bff-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #A6CC2D;
    margin-bottom: 10px;
}

#bday-age {
    background: #A6CC2D;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #A6CC2D;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

/* #gift-img-cheers {
    height: 200px;
    background-size: cover;
    background-position: center;
} */

#gift-img-badass{
    height: 225px;
    background-size: cover;
    background-position: center;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid #EDE7E0;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: 400px 400px;
    transition: background-image 600ms;
}

#gift-img-happy:hover {
    background-image: url("https://media.tenor.com/6xwjsmMIAIoAAAAd/happy-happy-dog.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media3.giphy.com/media/XZrOvaUvmsCYL31HIe/giphy.gif?cid=ecf05e47xlrcogn8yl16mzr5u6y5o7xv36wdtqwpqny1f16s&ep=v1_gifs_search&rid=giphy.gif&ct=g");
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjA0YzVjMzFhNDg0ZTE0ZjMyZGJkMWIzM2FjYzM0ZGI2NmM4MGMxOCZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/XmEJxoDL4QdLMYCqs3/giphy.gif");
}


#gift-img-badass:hover {
    height: 225px;
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYjhhZGUwMTcxZDM3MjRjZGQ1MzdiOTg1MTBjMjFmNGYzNWI5MWJkYyZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/3o7TKyaGmljdgcTkZy/giphy.gif");
    background-size: cover;
    background-position: center;
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWFiNmE2MGRkZTI3MDQ1NDhjMDBhZDNiMzg2YmNkOTJkMjk2MjU3NyZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/MwB35UQwLYIqYmUmyC/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: #EDE7E0;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/